* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageWrapper {
  margin-left: 27px;
  margin-right: 27px;
}

.titleContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: center;
}
