@import "design-tokens.css";

.panel-frame {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #aeaeae;
    border-top: 8px solid #26afdf;
    border-radius: 4px 4px 0px 0px;
}

.panel-line {
    margin: 16px;
    width: 1px;
    height: 32px;
    background-color: #cccc;
}

.panel-title {
    margin-top: 16px;
    margin-left: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
}

.panel-subtitle {
    color: #737373;
    font-size: 18px;
    line-height: 24px;
}
