@import "designTokens.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1366px;
}

.pageWrapper {
    margin-left: 27px;
    margin-right: 27px;
}

.titleContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
}

.content-block-container {
    display: flex;
    margin-top: 64px;
}

.content-panel-container {
    margin-top: 64px;
}
